html {
    font-family: 'Helvetica Neue', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
}
@media (prefers-color-scheme: dark) {
    html {
        background-color: #000;
        color: #FFF;
    }
}
a {
    color: #17BF63;
}
code {
    font-family: 'Source Code Pro', 'Menlo', 'Monaco', 'Courier New', monospace;
}
h1 {
    font-size: large;
}
p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.box {
    margin: auto;
    margin-bottom: 13px;
    width: 600px;
    max-width: 90%;
    min-width: 400px;
    border: solid 1px #E6ECF0;
    padding: 13px;
}
@media (prefers-color-scheme: dark) {
    .box {
        border-color: #2F3336;
    }
}
.box > p:first-child {
    margin-top: auto;
}
.box > p:last-child {
    margin-bottom: auto;
}
.box > h1:first-child {
    margin-top: auto;
}
.box hr {
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: -13px;
    width: calc(100% + 26px);
    border: none;
    border-top: solid 1px #E6ECF0;
}
@media (prefers-color-scheme: dark) {
    .box hr {
        border-top-color: #2F3336;
    }
}

.post header::after {
    content: "";
    display: block;
    clear: both;
}
.post header .profile-image {
    float: left;
}
.post header .timestamp {
    float: right;
}

.author-link {
    color: #000;
    text-decoration: none;
}
@media (prefers-color-scheme: dark) {
    .author-link {
        color: #FFF;
    }
}
.profile-image {
    width: 43px;
    height: 43px;
    border-radius: 50%;
}
.name {
    font-weight: bold;
}
.screenname {
    color: #657786;
}
@media (prefers-color-scheme: dark) {
    .screenname {
        color: #6E767D;
    }
}

.armor aside {
    font-size: x-small;
    display: inline;
}
.armor aside, .bracket {
    color: #BBB;
}
@media (prefers-color-scheme: dark) {
    .armor aside, .bracket {
        color: #444;
    }
}
.armor-text {
    white-space: pre-wrap;
}
.mask {
    background: #AFA;
}
@media (prefers-color-scheme: dark) {
    .mask {
        background: #050;
    }
}

.cloak {
    display: none;
}

.fingerprint span:first-child {
    padding-left: 0;
}
.fingerprint span {
    padding-left: 5px;
}

.scroll-box {
    height: 200px;
    overflow: auto;
    background-color: #DDD;
    padding-left: 13px;
    padding-right: 13px;
}
@media (prefers-color-scheme: dark) {
    .scroll-box {
        background-color: #222;
    }
}

.public-key {
    font-size: small;
}

.button {
    font-size: large;
}
