:root {
    font-family: 'Helvetica Neue', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
    background-color: var(--background-color);
    color: var(--color);
    --background-color: #FFF;
    --color: #000;
    --scroll-box-background-color: #DDD;
    --section-border-color: #E6ECF0;
    --screenname-color: #657786;
    --complementary-color: #BBB;
    --mask-color: #AFA;
    --footer-color: #777;
    --section-padding: 13px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000;
        --color: #FFF;
        --scroll-box-background-color: #222;
        --section-border-color: #2F3336;
        --screenname-color: #6E767D;
        --complementary-color: #444;
        --mask-color: #050;
        --footer-color: #888;
    }
}

body {
    display: flex;
    flex-direction: column;
    margin: initial;
    min-height: 100vh;
}

:any-link {
    color: #17BF63;
}

code {
    font-family: 'Source Code Pro', 'Menlo', 'Monaco', 'Courier New', monospace;
}

h1 {
    font-size: large;
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.section {
    box-sizing: border-box;
    border: solid 1px var(--section-border-color);
    border-left: none;
    border-right: none;
    padding: var(--section-padding);
    width: 100vw;
}

.section > p:first-child {
    margin-top: auto;
}

.section > p:last-child {
    margin-bottom: auto;
}

.section > h1:first-child {
    margin-top: auto;
}

.section hr {
    margin: var(--section-padding) 0 var(--section-padding) calc(-1 * var(--section-padding));
    width: calc(100% + 2 * var(--section-padding));
    border: none;
    border-top: solid 1px var(--section-border-color);
}

.post header::after {
    content: "";
    display: block;
    clear: both;
}

.post header .profile-image {
    float: left;
}

.post header .timestamp {
    float: right;
}

.author-link {
    color: var(--color);
    text-decoration: none;
}

.profile-image {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin-right: 10px;
}

.name {
    font-weight: bold;
}

.screenname {
    color: var(--screenname-color);
}

.armor aside {
    font-size: x-small;
    display: inline;
}

.armor aside, .bracket {
    color: var(--complementary-color);
}

.armor-text {
    white-space: pre-wrap;
}

.mask {
    background: var(--mask-color);
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

summary > * {
    display: list-item;
    margin-left: 20px;
}

.fingerprint span:not(:first-child) {
    padding-left: 5px;
}

.scroll-box {
    max-height: 200px;
    overflow-y: scroll;
    background-color: var(--scroll-box-background-color);
    padding: 0 var(--section-padding);
}

.public-key {
    font-size: small;
}

.footer {
    border-top: solid 1px var(--section-border-color);
    padding-top: var(--section-padding);
    display: block;
    text-align: center;
}

.flex-spacing {
    flex-grow: 1;
}

.footer, .footer a {
    color: var(--footer-color);
}

.icon {
    display: inline-block;
    fill: currentColor;
    width: 30px;
    height: 30px;
}

@media (min-width: 600px) {
    .section {
        margin: var(--section-padding) auto 0 auto;
        border: solid 1px var(--section-border-color);
        width: 600px;
    }
}
